{% extends 'base.html' %}
{% block menu %}{{ block.super }}

    <div class="jumbotron text-center mt-4 ">
      <h1 class="display-2" style="font-family: 'Exo 2', sans-serif;">Программирование</h1>
    </div>

      <div class="row mt-5 equal" data-test="cards">
          {% for key, value in buttons.items %}
          <div class="col-6" data-test="card">
            <div class="card mb-3" style="background-color: #f8fbfd;">
              <div class="card-body" style="text-align: center;" >
                <a href="{% url 'semestr_view' id=value.id %}" class="stretched-link display-4" data-test="tourlink" style="color: rgb(16, 45, 94)">{{ value.value }}</a>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
  </header>

{% endblock menu %}